<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>About Us</title>
  </head>
  <style>
    
    nav a {
      text-decorat2ion: none;
      color: #fff;
      transition: color 0.3s ease;
    
    }
  
  
       body  {
      text-align: center;
      font-size: 150%;
    }

    nav a:hover {
      color: #ccc;
    }

  </style>
<body>
  <header>
    <img src="/image/logo.png" alt="WiselyWheel" width="150mm" height="100mm" />
    <nav>
      <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="/browse">Browse Bikes</a></li>
        <li><a href="/compare">Compare Bikes</a></li>
       
        <li><a href="/aboutus">About Us</a></li>
       <li><a href="#" onclick="confirmLogout()">Logout</a></li>
      </ul>
    </nav>
  </header>
  <section class="about-us">
    <h2>About Us</h2>
    <p>
      Welcome to WiselyWheel, your go-to destination for exploring and comparing
      a wide range of bikes. At WiselyWheel, we are passionate about helping you
      find the perfect ride that matches your preferences and requirements.
      Our mission is to provide comprehensive information about various bike
      models, features, and brands, empowering you to make informed decisions.
      Whether you are a seasoned rider or a novice, WiselyWheel is here to make
      your bike selection process enjoyable and hassle-free.
      Explore our website to discover the latest bikes, top-rated models, and
      in-depth specifications. We are dedicated to delivering reliable and
      up-to-date information to enhance your biking experience.
    </p>
  </section>

<section class="details">
    <h2>Contact</h2>
    <p>Let's bring joy and delight to the process of choosing your dreams bikes.</p>
    <b>Phone: </b>
    9814800000, 9501010100  <br>
    <b>Customer Support:</b>
    contact@whiselywheel.com  <br>
    <b>Address:</b>
    A&C Complex, 3rd floor, kupondole, Lalitpur, Bagmati Province, Nepal  <br>

  <script>
    function toggleAboutSection() {
      const aboutSection = document.querySelector('.about-us');
      if (aboutSection) {
          aboutSection.classList.toggle('visible');
      }
  }
  function confirmLogout() {
    var username = "<%= username %>";
    if (confirm("Are you sure you want to logout, " + username + "?")) {
      window.location.href = "/";
    } else {
      alert("Thanks for staying");
      return false;
    }
  }

 ;
  
  
  </script>




  <footer>
    <p>&copy; 2024 WiselyWheel. All rights reserved.</p>
  </footer>
</body>
</html>
